<a href="https://colab.research.google.com/github/ihjeong427/DL23/blob/main/DL/DLW02d.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

---
# ğŸ“— Topic [2]: Coding basic #2
---
Keywords:

+ variables
+ **operators**
+ **data types: list and dictionary**

Your github IDs [here](https://docs.google.com/spreadsheets/d/17SX51lCqOdtvC7cAGoX5tP9fKwVdGY5sRzMg2pXh9uk/edit#gid=0) - revised 0327

## [1] Variables

+ **A variable** is a named storage location that holds a value.
+ Variables can be used **to store values** such as numbers, strings, lists, or other data types. 
+ The value of a variable can change throughout the execution of a program. 
+ To declare a variable in Python, you need to assign a value to it using the **equal (=) sign.**

In [1]:
x = 10
y = "Hello, class!"
z = [1, 2, 3]

â†—ï¸ In the above example, 'x' is assigned the value of 10, 'y' is assigned the value of "Hello, World!", and 'z' is assigned the value of [1, 2, 3].

In [2]:
# We can assign a link or a function
import pandas as pd
url = "https://github.com/MK316/Spring2023/raw/main/data/att_sample.csv"
data = pd.read_csv(url)
data

      Names
0      Mary
1      John
2       Tim
3       Bob
4     Sarah
5      Kate
6     Marie
7   Johnson
8      Mike
9     Harry
10      Jin
11      Sam
12     Paul
13  Natalie

url data - ë³€ìˆ˜ì„(variable), ë°‘ì—ì„œ ë˜ ì“¸ ìˆ˜ ìˆëŠ”ë° typeí•˜ê¸° ì‹«ìœ¼ë‹ˆê¹Œ.. read csv - ì—‘ì…€ì— ìˆëŠ” fileì„ ì½ì–´ë¼. pandasë¥¼ ì‚¬ìš©í•´ì„œ. data ë¼ê³  í•˜ë©´ ì½ì€ ê°’ì„ ë³´ì—¬ì£¼ëŠ” ê²ƒ.

## Commenting '#'

- In Python, the # symbol is used to indicate comment lines. A comment is a line of text in a code that is ignored by the Python interpreter and is used to provide explanations or notes for the reader of the code.

## Uncommenting shortcut: 
* "Ctrl + /" (Place the cursor on the code line and press the Control + / key.)

commenting - ì¸ê°„ì´ ì´í•´í•˜ëŠ” ì–¸ì–´. ìƒµ í‘œì‹œë¥¼ í•´ì¤Œ. ì»´í“¨í„°ëŠ” ë¬´ì‹œí•¨. ì•ì—ë‹¤ ìƒµ í•´ë„ ë˜ê³  ì˜†ì—ë‹¤ í•´ë„ ë¨. ë¼ì¸ì— ì»¤ì„œë¥¼ ë‘” ìƒíƒœì—ì„œ crtl / ë¥¼ í•˜ë©´ commenting uncommentingì´ ì™”ë‹¤ê°”ë‹¤í•¨. block í•˜ê³  ctrl / í•˜ë©´ ì „ì²´ê°€ commetingì´ ë¨.
ì œì¼ ë°‘ì— ì¤„ #ì„ ì§€ì›Œì£¼ë©´ (uncommenting) ê²°ê³¼ê°’ì´ ëœ¸.

In [3]:
# This is a comment in Python
x = 10 # this is also a comment

In [4]:
x1 = x * 10
x2 = x + 5

#print(x1) # Print the value of x1
# print(x1, x2) # Print the values of x1 and x2

In [5]:
print(y)
y1 = y + "Welcome to the class."
z1 = z + [3,2,1]
 
print(y1, z1)

Hello, class!
Hello, class!Welcome to the class. [1, 2, 3, 3, 2, 1]

Input types:

* integer: e.g., -3, 1, 0, 234, etc.
* float: e.g., -3.0, 1.2, 0, 3.141592653589793238, etc.
* string: (characters) "1", '0', "3.29", "Mary", "euphoria", 'My name is Jane.'

_Note:_ double or single quotation marks denote **string** data. (Open and close should match.)

* integer - ì†Œìˆ˜ì  ì—†ëŠ” ìˆ«ì
* float - ì†Œìˆ˜ì ì´ í¬í•¨ë˜ì–´ ìˆìŒ

In [6]:
# DIY
x = 1
y = 3
z = x + y
print(z)

x1 = "1"
y1 = "3"
z1 = x1 + y1
print(z1)

4
13

In [7]:
type(z)

int

* type - ì´ ë³€ìˆ˜ì˜ typeì´ ë­”ì§€ ë³´ì—¬ì£¼ëŠ” ê²ƒ. 
* int - integer ì—°ì‚° ê°€ëŠ¥í•¨ 
* str - string ë¬¸ì ì—´ì„ ë¶™ì˜€ë‹¤ ë—ë‹¤ í•  ìˆ˜ ìˆìŒ

In [8]:
type(z1)

str

In [9]:
print(type(z), type(z1))

<class 'int'> <class 'str'>

## [2] Operators

* Symbols that perform operations on values and variables. 
* They are used to perform arithmetic and logical operations, and they can also be used to manipulate and compare values.

1. Arithmetic Operators: +, -, *, /, %, ** (for exponentiation)
2. semicolon ';' - separate multiple statements (code lines) on a single line.

In [10]:
x = 2; y = 5

a1 = x + y
a2 = x - y
a3 = x * y
a4 = x / y
a5 = x ** y

In [11]:
print(a1, a2, a3, a4, a5)

7 -3 10 0.4 32

In [12]:
print("The value of a1:", a1)

The value of a1: 7

text í˜•ì‹ìœ¼ë¡œ ë³´ê³ ì‹¶ì„ ë•ŒëŠ” ë”°ì˜´í‘œ ì•ˆì— ë‚´ìš©ì„ ë„£ì–´ì¤Œ. interactiveí•˜ê²Œ ì‚¬ìš©í•  ìˆ˜ ìˆë„ë¡.

# ğŸŒ± Define a function

Demo ğŸ”¢ Calculator

í•¨ìˆ˜ë¥¼ ì •ì˜í•´ì„œ ì‚¬ìš©í•  ìˆ˜ ìˆìŒ. ìì£¼ ì‚¬ìš©í•˜ëŠ” ê³„ì‚°ì‹ì„ ìê¸°ë§Œì˜ í•¨ìˆ˜ë¡œ ë§Œë“¤ê¸°.

In [13]:
# This function adds two numbers
def add(x, y):
    return x + y

# This function subtracts two numbers
def subtract(x, y):
    return x - y

# This function multiplies two numbers
def multiply(x, y):
    return x * y

# This function divides two numbers
def divide(x, y):
    return x / y

In [15]:
# DIY: define a function names switch(x, y), where the input x, y changes its position in the output.
def switch(x, y):
  return print(y, x)

In [16]:
switch("it", "is")

is it

x y z ë†“ê³  x y ëŠ” ë°”ê¿”ì•¼ í•  ëŒ€ìƒ. zëŠ” ê·¸ëŒ€ë¡œ ë†”ë‘ê¸°. ë¥¼ ì‚¬ìš©í•˜ë©´ ë”ìš± ë³µì¡í•œ ë¬¸ì¥ë„ ê°€ëŠ¥.

ì…€ ì•ˆì—ì„œ ì»¤ì„œë¥¼ ë‘ê³  ctrl enter í•˜ë©´ running ë¨

In [17]:
add(1200,34)

1234

In [18]:
# Test

add(2,3)
subtract(3,2)
multiply(2,3)
divide(3,2)

1.5

## Using dropbox format

In [19]:
#@markdown ğŸ”„ Making functions: tts('text')
%%capture
!pip install gTTS
from gtts import gTTS
from IPython.display import Audio

def tts(text):
  text_to_say = text

  gtts_object = gTTS(text = text_to_say,
                     lang = "en", tld = "us",
                    slow = True)
  
  gtts_object.save("E-audio.mp3")
  return Audio("E-audio.mp3")

In [23]:
func = "multiply" #@param = ["add","subtract","multiply","divide"]
digits = input("Type two numbers: (e.g., 3,4)")
digitsplit = digits.split(',')
d1 = int(digitsplit[0])
d2 = int(digitsplit[1])

if func == "add":
  result = add(d1,d2)
  text = "The addition of %d and %d equals %d."%(d1,d2,result)
elif func == "subtract":
  result = subtract(d1,d2)
  text = "If you subtract %d from %d, you get %d."%(d2,d1,result)
elif func == "divide":
  result = divide(d1,d2)
  text = "When you divide %d by %d, you get %d."%(d1,d2,result)
elif func == "multiply":
  result = multiply(d1,d2)
  text = "%d multiplied by %d is %d."%(d1,d2,result)

print(text)
tts(text)
Audio("E-audio.mp3", autoplay = True)

Type two numbers: (e.g., 3,4)5, 6
5 multiplied by 6 is 30.

audio fileì„ ë°”ë¡œ ì¬ìƒí•˜ê³  ì‹¶ì„ ë•ŒëŠ” ê´„í˜¸ ì•ˆì— autoplay = True ì ì–´ì£¼ê¸°. (ëŒ€ì†Œë¬¸ì êµ¬ë¶„)
ìˆ«ì ê³„ì‚°ì˜ ì˜ì–´ í‘œí˜„ì„ ì•Œë ¤ì£¼ê³  ì‹¶ì„ ë•Œ ì´ë ‡ê²Œ ì‚¬ìš©í•  ìˆ˜ ìˆë‹¤.

More operators: <br>
* Comparison Operators: ==, !=, <, >, <=, >= <br>
* Assignment Operators: =, +=, -=, *=, /=, %= <br>
* Logical Operators: and, or, not <br>
* Identity Operators: is, is not <br>
* Membership Operators: in, not in

# ğŸ“—Topic [3] Data types: number, string, list and dictionary


|Data type| |
|:--:|:--:|
|number|int, float|
|string|charcter|
|list|[1, 2,4], ['Mary','Tom','Jane'|
|dictionary|(key: value), [('English': 80), ('Korean':90)]|
|tuple|('zero', 0)|

ìì£¼ ì‚¬ìš©í•˜ëŠ” ê²ƒë“¤ì„.
* number ìˆ«ì
* int ì •ìˆ˜
* float ì†Œìˆ˜ì  ìˆëŠ” ìˆ«ì
* string ë¬¸ì
* list í•˜ë‚˜ ì´ìƒì˜ dataë¥¼ ìˆœì„œëŒ€ë¡œ ë‚˜ì—´í•  ë•Œ

In [27]:
a1 = 3   # a1 is integer
a2 = 3.0 # a2 is float
a3 = "3" # a3 is string

type(a1); type(a2); type(a3)
print(type(a1), type(a2), type(a3))

<class 'int'> <class 'float'> <class 'str'>

"" ì•ˆì— ë“¤ì–´ê°€ë©´ stringìœ¼ë¡œ ì¸ì‹í•¨.
ì„¸ë¯¸ì»¬ë¡ ì€ line by line ì´ ì•„ë‹Œ ì˜†ìœ¼ë¡œ ì—°ê²°í•˜ê³  ì‹¶ì„ ë•Œ.
typeì„ í™•ì¸í•˜ê³  ì‹¶ì„ ë•ŒëŠ” ì´ëŸ° í•¨ìˆ˜ë¥¼ ì“´ë‹¤.

list and index (0, 1, 2,...)

In [28]:
a = [1, "Mary", 4, "John"]  # This is a list.
print(type(a))

a+a

<class 'list'>

[1, 'Mary', 4, 'John', 1, 'Mary', 4, 'John']

ì²«ë²ˆì§¸ ë‘ë²ˆì§¸.. ì´ëŸ°ê±¸ indexë¼ê³  í•¨.
pythonì€ indexingì„ 0ë¶€í„° í•œë‹¤.
1ì´ 0ë²ˆì§¸, MaryëŠ” 1ë²ˆì§¸, 4ëŠ” 2ë²ˆì§¸ ...
listì— listë¥¼ ë”í•˜ë©´ (a+a) ê²°ê³¼ë¥¼ ë°˜ë³µí•´ì¤Œ.

* index: Python index starts from '0'

e.g., a = [1, 2, 3, 4]

In [34]:
a[0]
type(a[0])
type(a[1])
a[0] + a[2]
a[0] + a[1] # int + str = error

TypeError: ignored

[0]ì€ int / [1]ì€ str ì´ê¸° ë•Œë¬¸ì— error ë‚˜ì˜´. [0]ì— ë”°ì˜´í‘œ ë¶™ì—¬ì£¼ë©´ strë¡œ ì¸ì‹í•´ì„œ ì˜†ìœ¼ë¡œ ë‚˜ì—´í•´ì¤Œ.

[Github accounts](https://raw.githubusercontent.com/MK316/Spring2023/main/DL/files/DL_github.csv)



---
# The End